* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Home.js

main {
  img {
    position: absolute;
    top: 16vh;
    left: 22vw;
    width: 56vw;
    height: 38vh;
  }
}

//Tagline.js

.tag {
  position: absolute;
  top: 56vh;
  left: 15vw;
  text-align: center;

  h1 {
    font-size: 7vh;
    color: #fff;
    width: 70vw;
    font-weight: 100;
  }

  .buttons {
    margin-top: 3vh;

    button{
        padding: 1.5vh 1vw;
        margin: 0 1.5vw;
        border-radius: 1vw;
        border: 1px #fff solid;
        font-size: 2.4vh;
        cursor: pointer;
    }

    button:hover{
        box-shadow: 0.5vw 0.7vh 0.6vw rgba(37, 240, 37, 0.568);
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  main{
    img{
    position: absolute;
    top: 16vh;
    left: 18vw;
    width: 64vw;
    height: 25vh;
    }
  }

  .tag {
    top: 45vh;
    left: 10vw;

    h1 {
      font-size: 5vh;
      width: 80vw;
    }
  }
}
